<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [7]:
import requests
import pandas as pd
import json

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [11]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=XRgKGY70N2rmPWNfUnt5UYUEEI8j0GkF"
req = requests.get(url)
# print(req.text)

In [15]:
json_str = json.loads(req.text)
json_str['rates'].keys()

dict_keys(['AED', 'AFN', 'ALL', 'AMD', 'ANG', 'AOA', 'ARS', 'AUD', 'AWG', 'AZN', 'BAM', 'BBD', 'BDT', 'BGN', 'BHD', 'BIF', 'BMD', 'BND', 'BOB', 'BRL', 'BSD', 'BTC', 'BTN', 'BWP', 'BYN', 'BYR', 'BZD', 'CAD', 'CDF', 'CHF', 'CLF', 'CLP', 'CNY', 'COP', 'CRC', 'CUC', 'CUP', 'CVE', 'CZK', 'DJF', 'DKK', 'DOP', 'DZD', 'EGP', 'ERN', 'ETB', 'EUR', 'FJD', 'FKP', 'GBP', 'GEL', 'GGP', 'GHS', 'GIP', 'GMD', 'GNF', 'GTQ', 'GYD', 'HKD', 'HNL', 'HRK', 'HTG', 'HUF', 'IDR', 'ILS', 'IMP', 'INR', 'IQD', 'IRR', 'ISK', 'JEP', 'JMD', 'JOD', 'JPY', 'KES', 'KGS', 'KHR', 'KMF', 'KPW', 'KRW', 'KWD', 'KYD', 'KZT', 'LAK', 'LBP', 'LKR', 'LRD', 'LSL', 'LTL', 'LVL', 'LYD', 'MAD', 'MDL', 'MGA', 'MKD', 'MMK', 'MNT', 'MOP', 'MRO', 'MUR', 'MVR', 'MWK', 'MXN', 'MYR', 'MZN', 'NAD', 'NGN', 'NIO', 'NOK', 'NPR', 'NZD', 'OMR', 'PAB', 'PEN', 'PGK', 'PHP', 'PKR', 'PLN', 'PYG', 'QAR', 'RON', 'RSD', 'RUB', 'RWF', 'SAR', 'SBD', 'SCR', 'SDG', 'SEK', 'SGD', 'SHP', 'SLE', 'SLL', 'SOS', 'SRD', 'STD', 'SVC', 'SYP', 'SZL', 'THB', 'TJS', 'TMT', 'TND', 'TOP', 'TRY', 'TTD', 'TWD', 'TZS', 'UAH', 'UGX', 'USD', 'UYU', 'UZS', 'VEF', 'VES', 'VND', 'VUV', 'WST', 'XAF', 'XAG', 'XAU', 'XCD', 'XDR', 'XOF', 'XPF', 'YER', 'ZAR', 'ZMK', 'ZMW', 'ZWL'])

In [18]:
d = {'Currency': json_str['rates'].keys(), 'Rates':json_str['rates'].values()}
d

{'Currency': dict_keys(['AED', 'AFN', 'ALL', 'AMD', 'ANG', 'AOA', 'ARS', 'AUD', 'AWG', 'AZN', 'BAM', 'BBD', 'BDT', 'BGN', 'BHD', 'BIF', 'BMD', 'BND', 'BOB', 'BRL', 'BSD', 'BTC', 'BTN', 'BWP', 'BYN', 'BYR', 'BZD', 'CAD', 'CDF', 'CHF', 'CLF', 'CLP', 'CNY', 'COP', 'CRC', 'CUC', 'CUP', 'CVE', 'CZK', 'DJF', 'DKK', 'DOP', 'DZD', 'EGP', 'ERN', 'ETB', 'EUR', 'FJD', 'FKP', 'GBP', 'GEL', 'GGP', 'GHS', 'GIP', 'GMD', 'GNF', 'GTQ', 'GYD', 'HKD', 'HNL', 'HRK', 'HTG', 'HUF', 'IDR', 'ILS', 'IMP', 'INR', 'IQD', 'IRR', 'ISK', 'JEP', 'JMD', 'JOD', 'JPY', 'KES', 'KGS', 'KHR', 'KMF', 'KPW', 'KRW', 'KWD', 'KYD', 'KZT', 'LAK', 'LBP', 'LKR', 'LRD', 'LSL', 'LTL', 'LVL', 'LYD', 'MAD', 'MDL', 'MGA', 'MKD', 'MMK', 'MNT', 'MOP', 'MRO', 'MUR', 'MVR', 'MWK', 'MXN', 'MYR', 'MZN', 'NAD', 'NGN', 'NIO', 'NOK', 'NPR', 'NZD', 'OMR', 'PAB', 'PEN', 'PGK', 'PHP', 'PKR', 'PLN', 'PYG', 'QAR', 'RON', 'RSD', 'RUB', 'RWF', 'SAR', 'SBD', 'SCR', 'SDG', 'SEK', 'SGD', 'SHP', 'SLE', 'SLL', 'SOS', 'SRD', 'STD', 'SVC', 'SYP', 'SZL', 'THB', 'TJS', 'TMT', 'TND', 'TOP', 'TRY', 'TTD', 'TWD', 'TZS', 'UAH', 'UGX', 'USD', 'UYU', 'UZS', 'VEF', 'VES', 'VND', 'VUV', 'WST', 'XAF', 'XAG', 'XAU', 'XCD', 'XDR', 'XOF', 'XPF', 'YER', 'ZAR', 'ZMK', 'ZMW', 'ZWL']),
 'Rates': dict_values([3.963583, 92.816248, 115.052539, 419.325313, 1.944359, 548.806022, 223.85174, 1.624427, 1.94267, 1.841315, 1.959542, 2.17836, 113.376493, 1.95711, 0.406957, 2244.862578, 1.079261, 1.437498, 7.45489, 5.640978, 1.07885, 3.9743249e-05, 88.829551, 14.269785, 2.723111, 21153.512757, 2.174582, 1.474972, 2217.880692, 0.988549, 0.031545, 870.369641, 7.430823, 5051.10269, 583.798539, 1.079261, 28.600413, 110.678699, 23.763129, 191.806034, 7.4518, 59.08928, 146.717742, 33.344409, 16.188913, 58.161833, 1, 2.394663, 0.882461, 0.878659, 2.779075, 0.882461, 13.055092, 0.882461, 66.509485, 9341.002744, 8.41784, 227.625161, 8.472063, 26.603943, 7.574548, 167.498287, 386.662472, 16310.113818, 3.875604, 0.882461, 88.727101, 1575.720848, 45625.752872, 149.268786, 0.882461, 163.187071, 0.76563, 141.955046, 142.046306, 94.348947, 4377.48184, 497.859701, 971.334769, 1402.116339, 0.330783, 0.899088, 493.79146, 18325.849537, 16469.520266, 350.646312, 173.96984, 19.739876, 3.186777, 0.652834, 5.175065, 11.075914, 19.936237, 4681.293563, 61.72787, 2265.552615, 3810.155283, 8.722931, 385.29594, 49.646197, 16.642011, 1101.380647, 19.810621, 4.770873, 68.103835, 19.739843, 498.080445, 39.391123, 11.316045, 142.127442, 1.742526, 0.415483, 1.078825, 4.065602, 3.799463, 58.394475, 306.132931, 4.688946, 7727.540984, 3.929587, 4.942694, 117.353436, 82.60122, 1187.18694, 4.053343, 8.871658, 15.071363, 642.160374, 11.215733, 1.437176, 1.31319, 22.421585, 21315.401599, 613.555942, 38.382293, 22338.520678, 9.437835, 2711.682112, 19.739573, 37.164888, 11.786123, 3.788206, 3.361887, 2.544684, 20.602027, 7.337808, 32.7737, 2524.438667, 39.842588, 4069.676802, 1.079261, 41.800135, 12319.763106, 2617612.416381, 26.302772, 25378.819004, 127.362289, 3.008783, 657.233678, 0.046917, 0.000552, 2.916756, 0.804109, 657.808304, 120.526497, 270.134976, 19.786036, 9714.64344, 22.97924, 347.521555])}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [28]:
# Turn the data into a dataframe
df = pd.DataFrame(data=d)

# Set column as index
df.set_index('Currency', inplace=True)
df

                Rates
Currency
AED          3.963583
AFN         92.816248
ALL        115.052539
AMD        419.325313
ANG          1.944359
...               ...
YER        270.134976
ZAR         19.786036
ZMK       9714.643440
ZMW         22.979240
ZWL        347.521555

[170 rows x 1 columns]

In [33]:
df.loc['GBP']

Rates    0.878659
Name: GBP, dtype: float64

In [37]:
# Extract Data
def extract(url):
    """
    Extract data from the API
    """
    # Request to the API
    req = requests.get(url)
    
    #Converts string to dict
    json_str = json.loads(req.text)
    
    # Saves the currency and rates into a dict
    data = {'Currency': json_str['rates'].keys(), 'Rates':json_str['rates'].values()}
    
    # Creates Pandas Dataframe
    df = pd.DataFrame(data=data)
    
    return df

df = extract("https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=***API KEY***")

df.head(5)

  Currency       Rates
0      AED    3.961251
1      AFN   92.762047
2      ALL  114.978950
3      AMD  419.078344
4      ANG    1.943215

In [38]:
def transform(dataframe):
    # Set column currency as index
    dataframe.set_index("Currency", inplace=True)
    return dataframe
df = transform(df)
df.head(5)

               Rates
Currency
AED         3.961251
AFN        92.762047
ALL       114.978950
AMD       419.078344
ANG         1.943215

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [32]:
# Save the Dataframe
df.to_csv('exchange_rates_1.csv')

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).