# Managing SQL Database with Python

## Install library

In [1]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\pedrosa\appdata\roaming\python\python39\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\pedrosa\appdata\roaming\python\python39\site-packages (from mysql-connector-python) (3.20.3)

## Import Libraries

In [3]:
import mysql.connector as mysql

## Connection Credentials

In [25]:
conn_credentials = {
    "host":"******",
    "db":"ibm_database",
    "user":"******",
    "password":"******"
}

## Task 1: Database connection

In [51]:
try:
    # connection function
    conn = mysql.connect(host=conn_credentials['host'],db=conn_credentials['db'],user=conn_credentials['user'], \
                         password=conn_credentials['password'])
    print('Connected to database')
        
# handles exceptions
except Exception as e:
    print('Connection failed! Exception: ', e)

Connected to database

## Cursor query

In [27]:
cursor = conn.cursor()

## Task 2: DROP and CREATE TABLE

In [28]:
cursor.execute("DROP TABLE IF EXISTS instructor")

In [30]:
query_create_table = """
    CREATE TABLE instructor(
        id INTEGER,
        fname VARCHAR(20),
        lname VARCHAR(20),
        city VARCHAR(20),
        cc_code CHAR(2),
        PRIMARY KEY (id)
    );
"""

cursor.execute(query_create_table)

## Task 3: INSERT data

In [41]:
query_insert_data = """
    INSERT INTO instructor (id, fname, lname, city, cc_code)
    VALUES (1, 'Rav', 'Ahuja', 'TORONTO', 'CA'),
    (2, 'Raul', 'Chong', 'Markham', 'CA'),
    (3, 'Hima', 'Vasudevan', 'Chicago', 'US');
"""

cursor.execute(query_insert_data)
# commit
conn.commit()

## Task 4: Query Data

In [43]:
query_select = """
    SELECT * FROM instructor;
"""

cursor.execute(query_select)

In [44]:
cursor.fetchall()

[(1, 'Rav', 'Ahuja', 'TORONTO', 'CA'),
 (2, 'Raul', 'Chong', 'Markham', 'CA'),
 (3, 'Hima', 'Vasudevan', 'Chicago', 'US')]

## Task 5: Retrieve data into Pandas

In [48]:
# Import libraries
import pandas as pd

query_select = """
SELECT * FROM instructor;
"""

pdf = pd.read_sql(query_select, conn)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [49]:
pdf

   id fname      lname     city cc_code
0   1   Rav      Ahuja  TORONTO      CA
1   2  Raul      Chong  Markham      CA
2   3  Hima  Vasudevan  Chicago      US

## Task 6: Close Connection

In [50]:
conn.close()